{% extends 'base.html' %} {% block content %}
<div id="about__wrapper-title">
  <div id="about__title">About</div>
</div>
<div id="about__wrapper-info">
  <div id="about__info">
    <p>In times like these, people need to come together and help each other.</p>
    <p>The Drip offers an open forum for others to request help and aid others. You, alone or in conjunction with your
      company, can find people who need help and make a difference in the world. Make us proud.<a
        href="{{ url_for('youarefree') }}" class="tab blink" style="color: #fff;">|</a></p>
  </div>
</div>
{% endblock %}