{% extends "base.html" %} {% block content %}
<div class="profile-banner">
    <div class="prof-image-container">
        <img class="prof-image" src="{{ user.avatar(128) }}" id="user-image" />
    </div>
    <div>
        <h1 id="user-header__title">{{ user.username }}</h1>
    </div>
    <div id="user-info-wrapper">
        <ul id="user-info">
            {% if user.last_seen %}
            <li>
                <p>Last seen on:</p>
            </li>
            <li>
                <p>{{ user.last_seen }}</p>
            </li>
            {% endif %}
            <li>
                <p>Company:</p>
            </li>
            <li>
                {% if user.group == 'blue' %}
                <p>Blue Squares</p>
                {% endif %} {% if user.group == 'red' %}
                <p>Red Dragons</p>
                {% endif %} {% if user.group == 'green' %}
                <p>Green Scales</p>
                {% endif %} {% if user.group == 'purple' %}
                <p>Purple Royals</p>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div>
    <form action="" method="post">
        {{ form.hidden_tag() }} {{ form.title.label }}<br />
        {{ form.title(cols=32, rows=4) }}<br />
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %} {{ form.body.label }}<br />
        {{ form.body(cols=32, rows=4) }}<br />
        {% for error in form.body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.guests(cols=32, rows=4)}}<br />
        {% for error in form.guests.error %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.time_req.label }}<br />
        {{ form.time_req(size=1) }}<br />
        {% for error in form.time_reqerrors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <p>{{ form.submit() }}</p>
    </form>
</div>

<div>
    <div>
        {% for deed in deeds %} {% include 'partials/deed.html' %} {% endfor %}
    </div>
</div>


{% endblock %}